@{
    //Layout = null;
}
<h1>Add Cheese</h1>

<form method="post">
    <input type="text" name="name" placeholder="Name" id="ff"/><p>@ViewBag.error</p>
    <textarea name="description" placeholder="Description"></textarea>
    <br />
    <input type="submit" value="Add Cheese" />
</form>