@{
    //Layout = null;
}

<h1>My Cheese</h1>

@if (ViewBag.Cheeses.Count == 0)
{
    <p>No cheeses yet.</p>
}

<ul>
    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
    {
        <li><h4>@cheese.Key</h4><p>@cheese.Value</p></li>
    }
</ul>