@{
}
<h1>Remove Cheese</h1>

@if (ViewBag.Cheeses.Count == 0)
{
    <p>No cheeses to remove.</p>
}
else
{
    <form method="post">
        @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="names" value="@cheese.Key" />@cheese.Key
                </label>
            </div>
        }
        <input class="btn btn-default" type="submit" value="Remove Cheese" />
    </form>
}
