<h1>@ViewBag.title</h1>

@if (ViewBag.Cheeses.Count == 0)
{
    <p>No cheeses to remove.</p>
}
else
{
    <form method="post">
        @foreach (var cheese in ViewBag.cheeses)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="cheeseIds" value="@cheese.CheeseId" />@cheese.Name
                </label>
            </div>
        }
        <input class="btn btn-default" type="submit" value="Remove Cheese" />
    </form>
}
